body{
    margin: 0;
    padding: 0;
}
/* container style */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
}
H1{
    color: #999;
    font-family: sans-serif;


}
.line{
    width: 120px;
    height: 5px;
    background-color: red;
    margin-top: -14px;
}

.inner{
    color: blue;
}

/* style  app*/
.todo_App{
    height: 450px;
    width: 350px;
    background-color: #333;
    margin-top: 3rem;
    box-shadow: 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 

.user_info{
    display: flex;
    justify-content: space-around;
    align-items: center;

}