body{
    margin: 0;
    padding: 0;
}
/* container style */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
}
H1{
    color: #999;
    font-family: sans-serif;


}
.line{
    width: 120px;
    height: 5px;
    background-color: red;
    margin-top: -14px;
}

.inner{
    color: blue;
}

/* style  app*/
.todo_App{
    height: 450px;
    width: 350px;
    background-color: #333;
    margin-top: 3rem;
    box-shadow: 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 

.user_info{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.name{
    display: flex;
    flex-direction: column;
    padding: 2px;
}
h2{
    color: greenyellow;
}

p{
    color: #999;
    margin-bottom: -2rem;

}
.todos{
    background-color: #333;
    width: 350px;
    height: 300px;
    /* margin-left: 12px; */
    margin:0 auto;
    /* overflow: scroll; */
    overflow-y: scroll;
    
}

.item_box{
    /* width: 330px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 12px;
    border: 1px solid green;
}

.items{
    color: wheat;
    font-size: 17px;

}

.icons{
    display: flex;
    gap:  10px;
}
.plus{
    background-color: white;
    color: goldenrod;
    padding: 1px;
    border-radius: 50%;
}

.input{
    margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    margin: 23px;
    padding: 12px;
    gap: 19px;

}

input{
    border: none;
    outline: none;
    background-color: #222;
    width: 90%;
    
}